* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --fs-xl: clamp(2rem, 2vw + 1rem, 8rem);
  --fs-600: 2rem;
  --fs-500: 1rem;
  --fs-400: 0.8rem;
}

@media (min-width: 800px) {
  :root {
    --fs-xl: clamp(4rem, 5vw + 1rem, 6rem);
    --fs-600: 2rem;
    --fs-500: 1.4rem;
    --fs-400: 1rem;
  }
}
/* responsive design- mobile first? media queries, accesibility  */
body {
  /* background-color: rgb(11, 19, 43);
  color: rgb(91, 192, 190); */
  background-color: rgb(13, 31, 34);
  font-family: "Inter", sans-serif;
}

#home {
  height: 100vh;
  align-content: center;
}

#textBox {
  width: fit-content;
  height: fit-content;
  padding: 5vw;
  justify-self: center;
  align-content: center;
  border-radius: 10px;
  text-align: center;
  border: 2px solid rgb(38, 64, 39);
  color: rgb(111, 115, 47);
  transition: 0.3s ease-in-out;
}
h2 {
  color: rgb(111, 115, 47);
  font-size: var(--fs-600);
}

h1 {
  border-block-end: 1px solid rgb(179, 138, 88);
  font-size: var(--fs-xl);
}

#textBox:hover {
  box-shadow: 0 0 10px rgb(179, 138, 88), 0 0 25px rgba(179, 138, 88, 0.6);
}

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: rgba(38, 64, 39, 0.2);
  border-block-start: solid 1px rgb(111, 115, 47);
  z-index: 100;
}

/* I want the nav to show on the bottom for mobile users as this is the most comfortable place to click- thinking about instagram and the likes have their nav on the bottom */
@media (min-width: 800px) {
  nav {
    top: 0;
    border-block-end: solid 1px rgb(111, 115, 47);
    border-block-start: none;
  }
}

a {
  color: rgb(179, 138, 88);
  text-decoration: none;
  /* font-size: 2vh; */
  font-size: var(--fs-500);
  font-weight: bold;
}

a:hover {
  color: rgb(111, 115, 47);
}

#logo {
  margin-right: auto;
}

#create-post {
  min-height: fit-content;
  /* min-width: fit-content; */
  height: 60vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(38, 64, 39, 0.2);
  width: 80%;
  align-items: center;
  justify-content: stretch;
  align-self: center;
  border: solid 1px rgb(38, 64, 39);
  border-radius: 12px;
  margin: 10vh auto 10vh auto;
}

#createPost-form {
  width: 100%;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
}

#post-title {
  text-align: center;
  font-size: var(--fs-xl);
  border-block-end: 1px solid rgb(179, 138, 88);
}

#form-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  padding-top: 1rem;
  width: 100%;
  align-items: center;
}

#form-grid > div {
  justify-content: center;
  height: 100%;
}

@media (max-width: 799px) {
  #form-grid > div {
    grid-column: auto;
    justify-content: center;
  }
}

input,
select,
textarea,
button {
  width: 100%;
  height: 3rem;
  background-color: rgb(38, 64, 39);
  border-radius: 12px;
  color: rgb(179, 138, 88);
  border: solid 2px rgb(111, 115, 47);
  font-size: var(--fs-400);
}

textarea {
  height: 5rem;
  max-width: 30rem;
}

#info label {
  display: block;
}

::placeholder {
  color: rgb(179, 138, 88);
  padding-left: 0.2rem;
  font-family: "Inter", sans-serif;
  font-size: var(--fs-400);
}

label {
  font-size: var(--fs-500);
  color: rgb(179, 138, 88);
  font-weight: bold;
  padding-left: 1%;
}

button {
  width: 10rem;
  font-size: var(--fs-500);
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 8px rgb(179, 138, 88), 0 0 20px rgba(179, 138, 88, 0.6);
}

#speciesDiv {
  width: 100%;
}

select,
::picker(select) {
  appearance: base-select;
  padding-top: 0.5rem;
  padding-left: 0.2rem;
  font-family: "Inter", sans-serif;
  color: rgb(179, 138, 88);
  background-color: rgb(38, 64, 39);
  border-radius: 12px;
}

select::picker-icon {
  color: rgb(179, 138, 88);
  transition: 0.3s rotate;
}

select:open::picker-icon {
  rotate: 180deg;
}

@media (min-width: 800px) {
  #form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 1rem;
    padding-top: 1rem;
  }
  #info {
    grid-column: span 3;
  }
  ::placeholder {
    color: rgb(179, 138, 88);
    padding-left: 1rem;
  }
  button {
    width: 10rem;
    grid-column: 3/4;
    justify-self: end;
  }
  textarea {
    max-width: 40rem;
  }
  #speciesDiv {
    grid-column: 2/ -1;
  }
}

h3 {
  font-family: "Inter", sans-serif;
  color: rgb(111, 115, 47);
  font-size: var(--fs-xl);
  padding-top: 10%;
  border-block-end: 1px solid rgb(179, 138, 88);
  text-align: center;
}

#postCreated > div {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  padding-top: 10%;
}

#feedScroll {
  padding: 0.8%;
  height: 4rem;
  background-color: rgb(38, 64, 39);
  border-radius: 12px;
  color: rgb(179, 138, 88);
  border: solid 2px rgb(111, 115, 47);
  font-size: var(--fs-500);
  margin-bottom: 10%;
  text-align: center;
  line-height: 2.6rem;
  transition: 0.3s ease-in-out;
  width: 100%;
}

#feedScroll:hover {
  box-shadow: 0 0 8px rgb(179, 138, 88), 0 0 20px rgba(179, 138, 88, 0.6);
}

#createAnother {
  height: 4rem;
  background-color: rgb(38, 64, 39);
  border-radius: 12px;
  color: rgb(179, 138, 88);
  border: solid 2px rgb(111, 115, 47);
  font-size: var(--fs-500);
  width: 100%;
}

@media (min-width: 800px) {
  #postCreated > div {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 80%;
    justify-content: space-between;
    padding-top: 10%;
  }

  #feedScroll {
    width: 40%;
    margin-bottom: 0;
  }

  #createAnother {
    width: 40%;
  }
}
/* styling the dom posts */

#feed {
  display: grid;
  grid-template-columns: 80vw;
  grid-row: auto;
  gap: 5rem;
  justify-content: center;
  padding-top: 10vh;
  padding-bottom: 5%;
}

.posts {
  background-color: rgba(38, 64, 39, 0.4);
  border-radius: 12px;
  padding: 1rem;
  color: rgb(179, 138, 88);
  border: solid 1px rgb(38, 64, 39);
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
}

@media (min-width: 800px) {
  #feed {
    grid-template-columns: 25vw 25vw 25vw;
  }
  .posts:hover {
    box-shadow: 0 0 10px rgb(179, 138, 88), 0 0 25px rgba(179, 138, 88, 0.6);
  }
}

.name {
  font-size: var(--fs-500);
  font-weight: bold;
  margin-bottom: 2%;
}

.location,
.date,
.type,
.species,
.info {
  font-size: var(--fs-400);
  padding-bottom: 0.5rem;
}

.type,
.species {
  font-weight: bold;
}

.locationDiv {
  display: flex;
  justify-content: space-between;
  border-block-end: 1px solid rgb(179, 138, 88);
  margin-bottom: 5%;
}

#heart {
  align-self: flex-end;
}
