* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* responsive design- mobile first? media queries, accesibility  */
body {
  background-color: black;
  color: peru;
}

#home {
  height: 100vh;
  align-content: center;
}

#textBox {
  font-size: 4vh;
  background-color: rgb(48, 47, 47);
  width: fit-content;
  height: fit-content;
  padding: 50px;
  justify-self: center;
  align-content: center;
  border-radius: 10px;
  text-align: center;
}
